<div class='container'>
<div class="hero-unit">

        <div class='black-mirror-nav'>
        <ul>
            <li><a>Login</a></li>
            <li>|</li>
            <li><a> Sign-Up</a></li>
        </ul>
    </div>

    <div class="hero-title">
        <div class="black-mirror-title">
          <h1>Black Mirror</h1>
        </div>
        <div class="black-mirror-subtitle"> 
              <p class="subtitle">Heavenly cloud synchronization from NASA to Github.</p>
              <div class="call_to_action">
                <button class="github_btn">Go to Github</button>
            </div>
        </div>
    </div>

    <div class="half-hero">
        <img src="/static/images/nasagraphic.png"></img>
    </div>
</div>
<div class="hero-3-panel">
    <div class="hero-third-panel">
        <h1>One Central Hub</h1>
        <li></li>
        <p>We take all of NASA’s code repositories, and synchronize them with our servers to give you a one stop shop to all of NASA open source contributions.
</p>
    </div>

    <div class="hero-third-panel">
        <h1>Bleeding Edge</h1>
        <li></li>
<p>We synchronize every hour with all of NASA’s repositories --- making sure you have the most up to date code.
</p>
    </div>

    <div class="hero-third-panel">
        <h1>Collaborate</h1>
        <li></li>
        <p>All of the code we grab from NASA goes straight to our github organization, allowing you to submit pull requests, and collaborate on the web.
</p>

    </div>

</div>

<div class="bnotions">
    <img src="/static/images/bnotions.png"></img>
</div>

</div>